<h1>ป่าผสมผลัดใบ</h1>
<a href="/">Back!</a>

<ul class="people_list">
  {{#each trees}}
    <li> <img src = {{this.IMG}}> </li> 
    <li> {{this.NAME}}  
    <li> {{this.SCI_NAME}} 
    <li> {{this.AREA}} 
    <li> {{this.DETAILS}}  </li>
  {{/each}}
</ul>
