

<div class = "row" >
    <div class="col text-center"> 
<img src = "/{{trees.IMG}}" style="width: 250px; float: middle; height: 250px;" > 
    </div>
</div>

<div class = "row ">
    <h2><div class="col text-center"> 
     ชื่อ : {{trees.NAME}}  
     </div></h2>
</div>

<div class = "row ">
    <h2><div class="col text-center"> 
     ชื่อวิทยาศาสตร์ : {{trees.SCI_NAME}} 
     </div></h2>
</div>

<div class = "row ">
    <h2><div class="col text-center"> 
     พื้นที่ค้นพบ : {{trees.AREA}} 
    </div></h2>
</div>

<div class = "row ">
    <h2><div class="col text-center"> 
     รายละเอียดต้นไม้ : {{trees.DETAILS}} 
    </div></h2>
</div>

<h3><div class="badge bg-light " style="width: 12rem; float: middle; "><a href="/">HOME</a></div></h3>